# =============== #
# Unity generated #
# =============== #
unity/Temp/
unity/Obj/
unity/UnityGenerated/
unity/Library/
unity/build/
unity/UnityTestTools/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
unity/*.svd
unity/*.userprefs
unity/*.csproj
unity/*.pidb
unity/*.suo
unity/*.sln
unity/*.user
unity/*.unityproj
unity/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============= #
# Unreal Engine #
# ============= #

UE4/DerivedDataCache
UE4/Intermediate
UE4/Saved
UE4/*.sdf
UE4/*.suo
UE4/*.sln

# ====== #
# Custom #
# ====== #
DownhillMadness/Assets/Downloads/
*.meta
*.xcodeproj
